section.promo-main
    .promo-main__img 
        img(src="image/promo-main.png" alt="#")
    .container
        .row    
            .col-lg-5
                .promo-main__title Получить пакет резюме
                .promo-main__desc Контакты и информация о кандидатах, которые вам необходимы. Обеспечьте себе поток новых людей.
                a.dflt-bttn(href="javascript:void(0);") Оставить заявку