section.book-about
    .container
        .row
            .col-lg-6
                .book-about__title О чем книга?
                .book-about__text.book-about__text-margin В книге описывается 8 болей, с которыми сталкиваются современные компании, их проблематика и решение.
                .book-about__text В современных организациях отбор и найм персонала предопределяют успех компании на рынке. Какие люди работают в организации, какими навыками и способностями они обладают, все это влияет на ее конкурентоспособность и потенциал.

            .col-lg-6
                .book-about__slider.slick-slider
                    .book-about__img
                        img(src="image/book-1.png" alt="#")
                    .book-about__img
                        img(src="image/book-2.png" alt="#")
                    .book-about__img
                        img(src="image/book-3.png" alt="#")
        .row
            .offset-7.col-lg-5.col-md-12
                .book-about__block
                    img(src="image/galca.svg" alt="#")
                    .book-about__block-title 30 минут прочтения
                    .book-about__block-desc сэкономят вам дни на рабочем месте