.accordion-col__small
    .accordion-col__small-block
        .accordion-person__pict ИН
        .accordion-person__name Иванов Иван Петрович
    .accordion-col__small-name Возраст:
        span 22 года
    .accordion-col__small-name E-mail:
        span    
            a.link(href="mailto:info@rambler.ua") info@rambler.ua
    .accordion-col__small-name Тел:
        span 
            a.link(href="tel:+89998889988") +8 999 888 99 88       
    a.dflt-bttn(href="javascript:void(0);") Резюме
.accordion-col__big
    h3.actions__title Пройденные тесты
    .test-row.test-slider
        .test-item
            .test-item__top
                <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4.31372" cy="4.01275" r="3.92602" fill="white"/>
                <path d="M3.00488 4.11387L4.05948 5.32142L5.62223 2.70407" stroke="#27AE60" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                | Проверено
            .test-item__bottom
                .test-item__bottom-text
                    span 120
                    | /140
                .test-item__bottom-text Основы продаж
                .dflt-select
                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                    ul.dflt-select__dropdown
                        li
                            a(href="javascript:void(0);") Пригласить на должность
                        li
                            a(href="javascript:void(0);") Тестировать
                        li
                            a(href="javascript:void(0);") Собеседовать
        .test-item
            .test-item__top.test-item__top-deny
                <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4.5" cy="4.5" r="4.5" fill="white"/>
                <path d="M3.93707 1.77771L4.02632 5.37717H4.96336L5.05261 1.77771H3.93707ZM4.49484 7.23639C4.83322 7.23639 5.10095 6.97982 5.10095 6.6526C5.10095 6.32537 4.83322 6.0688 4.49484 6.0688C4.15646 6.0688 3.88873 6.32537 3.88873 6.6526C3.88873 6.97982 4.15646 7.23639 4.49484 7.23639Z" fill="#FF6363"/>
                </svg>
                | Нет проверки
            .test-item__bottom
                .test-item__bottom-text
                    span XXX
                    | /140
                .test-item__bottom-text Тест на психологию
                .dflt-bttn Проверить
        .test-item
            .test-item__top
                <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4.31372" cy="4.01275" r="3.92602" fill="white"/>
                <path d="M3.00488 4.11387L4.05948 5.32142L5.62223 2.70407" stroke="#27AE60" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                | Проверено
            .test-item__bottom
                .test-item__bottom-text
                    span 120
                    | /140
                .test-item__bottom-text Основы продаж
                .dflt-select
                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                    ul.dflt-select__dropdown
                        li
                            a(href="javascript:void(0);") Пригласить на должность
                        li
                            a(href="javascript:void(0);") Тестировать
                        li
                            a(href="javascript:void(0);") Собеседовать
        .test-item
            .test-item__top.test-item__top-deny
                <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4.5" cy="4.5" r="4.5" fill="white"/>
                <path d="M3.93707 1.77771L4.02632 5.37717H4.96336L5.05261 1.77771H3.93707ZM4.49484 7.23639C4.83322 7.23639 5.10095 6.97982 5.10095 6.6526C5.10095 6.32537 4.83322 6.0688 4.49484 6.0688C4.15646 6.0688 3.88873 6.32537 3.88873 6.6526C3.88873 6.97982 4.15646 7.23639 4.49484 7.23639Z" fill="#FF6363"/>
                </svg>
                | Необходима проверка
            .test-item__bottom
                .test-item__bottom-text
                    span XXX
                    | /140
                .test-item__bottom-text Тест на психологию
                .dflt-bttn Проверить
        .test-item
            .test-item__top
                <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4.31372" cy="4.01275" r="3.92602" fill="white"/>
                <path d="M3.00488 4.11387L4.05948 5.32142L5.62223 2.70407" stroke="#27AE60" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                | Проверено
            .test-item__bottom
                .test-item__bottom-text
                    span 120
                    | /140
                .test-item__bottom-text Основы продаж
                .dflt-select
                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                    ul.dflt-select__dropdown
                        li
                            a(href="javascript:void(0);") Пригласить на должность
                        li
                            a(href="javascript:void(0);") Тестировать
                        li
                            a(href="javascript:void(0);") Собеседовать
    .accordion-bottom
        h3.actions__title Комментарий руководителя:
        .accordion-text-field Поведение при собеседовании умеренное, большой опыт работы, но на повторные вопросы об отношении к бывшему коллективу отвечал с ухмылкой.
        .accordion-title
            h3.actions__title Пройденное собеседование
            a.accordion-title__link(href="javascript:void(0);" data-toggle="modal" data-target="#addReport") Редактировать
        .accordion-row
            .accordion-row__statistic
                .accordion-row__statistic-row
                    .statistic-row__item Дата:
                    .statistic-row__item.statistic-row__item-actual 10.11.2019
                .accordion-row__statistic-row
                    .statistic-row__item Время:
                    .statistic-row__item.statistic-row__item-actual 10:00
                .accordion-row__statistic-row
                    .statistic-row__item Статус:
                    .statistic-row__item.accordion-status__desc.accordion-status__red Отклонен
            .accordion-row__grafic
                .accordion-row__grafic-item
                    .accordion-row__grafic-rating
                        .percentage-circle.circle-6.circle-yellow
                            .grafic-assesment
                                span 6
                                | /10   
                    .accordion-row__grafic-text Общая оценка
                .accordion-row__grafic-item
                    .accordion-row__grafic-rating
                        .percentage-circle.circle-8.circle-green
                            .grafic-assesment
                                span 8
                                | /10
                    .accordion-row__grafic-text Навыки
                .accordion-row__grafic-item
                    .accordion-row__grafic-rating
                        .percentage-circle.circle-4.circle-red
                            .grafic-assesment
                                span 4
                                | /10
                    .accordion-row__grafic-text Поведение
                .accordion-row__grafic-item
                    .accordion-row__grafic-rating
                        .percentage-circle.circle-5.circle-orange
                            .grafic-assesment
                                span 5
                                | /10
                    .accordion-row__grafic-text Перспектива
