section.promo-statistics
    .container
        .row
            .col-lg-12
                .promo-statistics__top
                    .promo-statistics__top-left
                        .promo-statistics__top-left-numb 82 550
                            span руб.
                        .promo-statistics__top-left-text Стоит доступ к базе резюме по России на 1 месяц на hh.ru
                    .promo-statistics__top-right
                        .promo-statistics__top-right-icon
                            img(src="image/hh.png" alt="#")
                .promo-statistics__bottom
                    .promo-statistics__bottom-row
                        .promo-statistics__icon
                            img(src="image/person-1.png" alt="#")
                        .promo-row__mobile
                            .promo-statistics__time
                                .promo-statistics__time-numb 1
                                .promo-statistics__time-text рекрутер вручную может обработать
                            .promo-statistics__math
                                span =
                                .promo-statistics__math-row 100-150
                                    p резюме в день
                    .promo-statistics__bottom-row
                        .promo-statistics__icon
                            img(src="image/person-2.png" alt="#")
                        .promo-row__mobile
                            .promo-statistics__time
                                .promo-statistics__time-numb 1
                                .promo-statistics__time-text месяц
                            .promo-statistics__math
                                span =
                                .promo-statistics__math-row 2300-3450
                                    p резюме
                    .promo-statistics__bottom-row.last
                        .promo-statistics__icon
                            img(src="image/person-3.png" alt="#")
                        .promo-row__mobile
                            .promo-statistics__time
                                .promo-statistics__time-numb 1
                                .promo-statistics__time-text фактическая себестоимость резюме
                            .promo-statistics__math
                                span =
                                .promo-statistics__math-row 35
                                    p руб.
                    .promo-statistics__finish
                        .promo-statistics__finish-title Итог:
                        .promo-statistics__finish-block
                            .promo-statistics__finish-item
                                .finish-arrow
                                    img(src="image/finish-arrow.svg" alt="#")
                                .finish-text Это подходит только для больших компаний
                            .promo-statistics__finish-item
                                .finish-arrow
                                    img(src="image/finish-arrow.svg" alt="#")
                                .finish-text Выгодно только при наличии минимум 4-5 рекрутеров
                            .promo-statistics__finish-item.last
                                .finish-arrow
                                    img(src="image/finish-arrow.svg" alt="#")
                                .finish-text Рекрутеры не успевают обрабатывать больше резюме и вы переплачиваете за доступ