.content-system-section__content
    .container
        .row
            .col-lg-12
                .resume-total-count Всего: 
                    span 1789 
                    | резюме
                .resume-table
                    .resume-table__heading
                        span ФИО
                        span Возраст
                        span Добавлено
                        span Изменено
                        span Ссылка
                    ul.resume-table__list
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать
                        li.resume-table-list-item
                            .resume-table-list-item__info
                                span Власова Екатерина Петрововна
                                span 22 года
                                span 10.11 2019
                                span 20.11 2019
                                span 
                                    a(href="javascript:void(0);" target="_blank") hh.ua
                            .resume-table-list-item__action
                                .dflt-select.dflt-select_mouseover
                                    a.dflt-select__bttn(href="javascript:void(0);") Действия
                                    ul.dflt-select__dropdown
                                        li
                                            a(href="javascript:void(0);")
                                                | Пригласить 
                                                br
                                                | на должность
                                        li
                                            a(href="javascript:void(0);") Тестировать
                                        li
                                            a(href="javascript:void(0);") Собеседовать

                .resume-page-nav
                    .row.align-items-center
                        .col-lg-4.offset-lg-4
                            a.dflt-bttn.resume-page-nav__go-next(href="javascript:void(0);") Следующая страница
                        .col-lg-4
                            .resume-page-nav__pagination
                                button(type="button").resume-page-nav__pagination-prev.disabled
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 1C4.68 1.32 2.2 3.8 1 5L5 9" stroke="#BDBDBD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                input(type="text" name="page" value="1").resume-page-nav__pagination-input
                                button(type="button").resume-page-nav__pagination-next
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1C1.32 1.32 3.8 3.8 5 5L1 9" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                .resume-page-nav__pagination-count
                                    span из 59
