section.video-block
    .container
        .row
            .col-lg-12
                .video-block__title Посмотрите, как можно использовать платформу для вашего бизнеса
                video(controls="controls" poster="image/video-block.png")
                    source(src="image/duel.ogv" type='video/ogg; codecs="theora, vorbis"')
                    source(src="image/i225g1.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
                    source(src="image/duel.webm" type='video/webm; codecs="vp8, vorbis"')