nav(role='navigation').mobile-menu
    .menuToggle
        input(type='checkbox')
        .toggle-block
            span
            span
            span

        #menu.mobile
            .mobile-profile
                <svg width="107" height="28" viewBox="0 0 107 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="95.4697" cy="12.2254" r="11.4845" fill="white"/>
                <path d="M92.2466 11.4657V15H90.6795V7.22015H92.2466V10.132C92.7504 9.58374 93.3691 9.30959 94.1026 9.30959C94.7398 9.30959 95.2362 9.51335 95.5919 9.92087C95.9475 10.321 96.1254 10.8804 96.1254 11.5991V15H94.5583V11.9214C94.5583 11.5213 94.4583 11.2249 94.2582 11.0323C94.0656 10.8396 93.8136 10.7433 93.5024 10.7433C93.2653 10.7433 93.0282 10.8137 92.7911 10.9545C92.5615 11.0878 92.3799 11.2583 92.2466 11.4657ZM99.1169 15H97.5498V9.45408H99.1169V10.3877C99.2873 10.0913 99.5466 9.83937 99.8949 9.6319C100.258 9.41703 100.643 9.30959 101.051 9.30959C101.14 9.30959 101.199 9.3133 101.229 9.32071V10.8545C101.08 10.8174 100.917 10.7989 100.74 10.7989C100.376 10.7989 100.043 10.8952 99.7393 11.0878C99.4429 11.2731 99.2354 11.4991 99.1169 11.7658V15Z" fill="#4F4F4F"/>
                <path d="M9.34326 17.7144H7.53875V9.5105H9.34326V10.5798C9.96705 9.72214 10.8693 9.29329 12.05 9.29329C12.685 9.29329 13.2308 9.42696 13.6875 9.69429C14.1442 9.96163 14.4616 10.3181 14.6398 10.7636C14.9406 10.3181 15.3527 9.96163 15.8763 9.69429C16.4109 9.42696 16.9957 9.29329 17.6307 9.29329C18.5441 9.29329 19.257 9.57733 19.7693 10.1454C20.2817 10.7135 20.5379 11.5267 20.5379 12.5849V17.7144H18.7334V13.0026C18.7334 11.6548 18.1765 10.9808 17.0626 10.9808C16.6282 10.9808 16.2104 11.1145 15.8094 11.3818C15.4196 11.638 15.1355 11.9611 14.9573 12.3509V17.7144H13.1528V13.0026C13.1528 11.6548 12.5903 10.9808 11.4652 10.9808C11.042 10.9808 10.6298 11.1089 10.2288 11.3651C9.83895 11.6102 9.54376 11.9221 9.34326 12.3008V17.7144ZM22.3571 13.6041C22.3571 12.3676 22.7469 11.3429 23.5267 10.5297C24.3175 9.70543 25.3312 9.29329 26.5676 9.29329C27.4142 9.29329 28.1326 9.51607 28.723 9.96163C29.8814 10.7859 30.4607 12.0223 30.4607 13.6709V14.1387H24.1783C24.2897 14.8294 24.6183 15.3696 25.1641 15.7595C25.721 16.1493 26.4228 16.3443 27.2694 16.3443C28.205 16.3443 29.085 16.0992 29.9093 15.6091V17.1296C29.1518 17.6642 28.1438 17.9316 26.8851 17.9316C25.6264 17.9316 24.5514 17.5306 23.6603 16.7286C22.7915 15.9265 22.3571 14.8851 22.3571 13.6041ZM24.195 12.7687H28.6394C28.6172 12.2563 28.4222 11.8051 28.0547 11.4153C27.6759 11.0143 27.1524 10.8138 26.4841 10.8138C25.8491 10.8138 25.32 11.0031 24.8968 11.3818C24.4846 11.7494 24.2507 12.2117 24.195 12.7687ZM37.232 17.9316C35.9733 17.9316 34.9987 17.486 34.3081 16.5949V17.7144H32.5035V6.01843H34.3081V10.63C34.9987 9.73885 35.9733 9.29329 37.232 9.29329C38.3905 9.29329 39.3429 9.711 40.0892 10.5464C40.8355 11.3707 41.2086 12.3899 41.2086 13.6041C41.2086 14.8294 40.8355 15.8541 40.0892 16.6784C39.3429 17.5139 38.3905 17.9316 37.232 17.9316ZM36.7475 16.3443C37.5049 16.3443 38.1343 16.0825 38.6355 15.559C39.1368 15.0243 39.3874 14.3727 39.3874 13.6041C39.3874 12.8466 39.1368 12.2061 38.6355 11.6826C38.1343 11.1479 37.5049 10.8806 36.7475 10.8806C36.2351 10.8806 35.7561 11.0198 35.3106 11.2983C34.8761 11.5656 34.542 11.9109 34.3081 12.3342V14.8739C34.542 15.3083 34.8761 15.6648 35.3106 15.9433C35.745 16.2106 36.224 16.3443 36.7475 16.3443ZM47.1176 16.3443C47.875 16.3443 48.5155 16.0825 49.039 15.559C49.5514 15.0466 49.8076 14.3949 49.8076 13.6041C49.8076 12.8243 49.5514 12.1783 49.039 11.6659C48.5155 11.1424 47.875 10.8806 47.1176 10.8806C46.349 10.8806 45.7029 11.1424 45.1794 11.6659C44.667 12.1783 44.4108 12.8243 44.4108 13.6041C44.4108 14.3949 44.667 15.0466 45.1794 15.559C45.7029 16.0825 46.349 16.3443 47.1176 16.3443ZM47.1176 17.9316C45.8032 17.9316 44.7227 17.5139 43.8761 16.6784C43.0296 15.843 42.6063 14.8182 42.6063 13.6041C42.6063 12.4011 43.0296 11.3818 43.8761 10.5464C44.7227 9.711 45.8032 9.29329 47.1176 9.29329C48.4097 9.29329 49.4846 9.711 50.3423 10.5464C51.1889 11.3818 51.6121 12.4011 51.6121 13.6041C51.6121 14.8071 51.1889 15.8319 50.3423 16.6784C49.4846 17.5139 48.4097 17.9316 47.1176 17.9316ZM54.2249 15.4754V11.0978H52.4705V9.5105H54.2249V7.12119H56.0294V9.5105H58.6193V11.0978H56.0294V14.9575C56.0294 15.4142 56.1353 15.7483 56.3469 15.96C56.5585 16.1716 56.8816 16.2774 57.316 16.2774C57.7504 16.2774 58.1626 16.1772 58.5524 15.9767V17.5306C58.1626 17.7979 57.5555 17.9316 56.7312 17.9316C55.9515 17.9316 55.3388 17.7199 54.8933 17.2966C54.4477 16.8734 54.2249 16.2663 54.2249 15.4754ZM67.1731 17.7144H59.9563V16.5289L63.2164 13.4762C63.908 12.834 64.4168 12.2808 64.7428 11.8165C65.0392 11.3719 65.1873 10.8977 65.1873 10.3939C65.1873 9.87029 64.9947 9.45042 64.6094 9.13429C64.234 8.80828 63.74 8.64527 63.1275 8.64527C62.1001 8.64527 61.1319 9.07502 60.2231 9.9345V8.23035C61.0727 7.50917 62.0952 7.14858 63.2905 7.14858C64.2686 7.14858 65.0984 7.43013 65.7801 7.99325C66.4716 8.55636 66.8174 9.29236 66.8174 10.2012C66.8174 10.9027 66.6445 11.5399 66.2987 12.1129C65.9332 12.6957 65.3503 13.3675 64.5501 14.1282L62.3125 16.2621H67.1731V17.7144ZM75.0506 17.7144H73.4502V15.0025H68.071V13.7577L73.4502 7.34122H75.0506V13.6096H76.6659V15.0025H75.0506V17.7144ZM73.4502 9.43067L69.9233 13.6096H73.4502V9.43067Z" fill="white"/>
                <path d="M28.7474 23.0971V26.5111C28.7474 26.7205 28.5144 26.8457 28.3398 26.7301L24.255 24.0254H5.7567C3.12965 24.0254 1 21.8462 1 19.158L1.00002 7.83118C1.00002 5.14297 3.12966 2.96375 5.75672 2.96375H24.255" stroke="white" stroke-width="1.31305"/>
                </svg>

            .mobile-block
                .mobile-block__list-top
                    a.mobile-block__item(href="№")
                        .mobile-block__item-text Продукты
                    a.mobile-block__item(href="#")
                        .mobile-block__item-text О mebot24 HR
                    a.mobile-block__item(href="#")
                        .mobile-block__item-text Новости
                .mobile-block__list-bottom
                    a.mobile-block__item(href="#")
                        .mobile-block__item-text HRM
                        span 
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.83709 4.6098L1.29221 0.159755C1.1871 0.0567475 1.04677 0 0.897152 0C0.74753 0 0.607207 0.0567475 0.50209 0.159755L0.167391 0.487394C-0.0503999 0.700889 -0.0503999 1.04788 0.167391 1.26105L3.98384 4.99793L0.163156 8.73895C0.0580388 8.84196 0 8.97928 0 9.1257C0 9.27228 0.0580388 9.4096 0.163156 9.51269L0.497855 9.84025C0.603055 9.94325 0.743295 10 0.892917 10C1.04254 10 1.18286 9.94325 1.28798 9.84025L5.83709 5.38614C5.94246 5.2828 6.00033 5.14484 6 4.99817C6.00033 4.85094 5.94246 4.71305 5.83709 4.6098Z" fill="#CDCEDE"/>
                            </svg>
                    a.mobile-block__item(href="#")
                        .mobile-block__item-text Резюме
                        span 
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.83709 4.6098L1.29221 0.159755C1.1871 0.0567475 1.04677 0 0.897152 0C0.74753 0 0.607207 0.0567475 0.50209 0.159755L0.167391 0.487394C-0.0503999 0.700889 -0.0503999 1.04788 0.167391 1.26105L3.98384 4.99793L0.163156 8.73895C0.0580388 8.84196 0 8.97928 0 9.1257C0 9.27228 0.0580388 9.4096 0.163156 9.51269L0.497855 9.84025C0.603055 9.94325 0.743295 10 0.892917 10C1.04254 10 1.18286 9.94325 1.28798 9.84025L5.83709 5.38614C5.94246 5.2828 6.00033 5.14484 6 4.99817C6.00033 4.85094 5.94246 4.71305 5.83709 4.6098Z" fill="#CDCEDE"/>
                            </svg>
                    a.mobile-block__item(href="#")
                        .mobile-block__item-text Приглашение
                        span 
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.83709 4.6098L1.29221 0.159755C1.1871 0.0567475 1.04677 0 0.897152 0C0.74753 0 0.607207 0.0567475 0.50209 0.159755L0.167391 0.487394C-0.0503999 0.700889 -0.0503999 1.04788 0.167391 1.26105L3.98384 4.99793L0.163156 8.73895C0.0580388 8.84196 0 8.97928 0 9.1257C0 9.27228 0.0580388 9.4096 0.163156 9.51269L0.497855 9.84025C0.603055 9.94325 0.743295 10 0.892917 10C1.04254 10 1.18286 9.94325 1.28798 9.84025L5.83709 5.38614C5.94246 5.2828 6.00033 5.14484 6 4.99817C6.00033 4.85094 5.94246 4.71305 5.83709 4.6098Z" fill="#CDCEDE"/>
                            </svg>
                    a.mobile-block__item(href="#")
                        .mobile-block__item-text Тестирование
                        span 
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.83709 4.6098L1.29221 0.159755C1.1871 0.0567475 1.04677 0 0.897152 0C0.74753 0 0.607207 0.0567475 0.50209 0.159755L0.167391 0.487394C-0.0503999 0.700889 -0.0503999 1.04788 0.167391 1.26105L3.98384 4.99793L0.163156 8.73895C0.0580388 8.84196 0 8.97928 0 9.1257C0 9.27228 0.0580388 9.4096 0.163156 9.51269L0.497855 9.84025C0.603055 9.94325 0.743295 10 0.892917 10C1.04254 10 1.18286 9.94325 1.28798 9.84025L5.83709 5.38614C5.94246 5.2828 6.00033 5.14484 6 4.99817C6.00033 4.85094 5.94246 4.71305 5.83709 4.6098Z" fill="#CDCEDE"/>
                            </svg>
                    a.mobile-block__item(href="#")
                        .mobile-block__item-text Собеседование
                        span 
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.83709 4.6098L1.29221 0.159755C1.1871 0.0567475 1.04677 0 0.897152 0C0.74753 0 0.607207 0.0567475 0.50209 0.159755L0.167391 0.487394C-0.0503999 0.700889 -0.0503999 1.04788 0.167391 1.26105L3.98384 4.99793L0.163156 8.73895C0.0580388 8.84196 0 8.97928 0 9.1257C0 9.27228 0.0580388 9.4096 0.163156 9.51269L0.497855 9.84025C0.603055 9.94325 0.743295 10 0.892917 10C1.04254 10 1.18286 9.94325 1.28798 9.84025L5.83709 5.38614C5.94246 5.2828 6.00033 5.14484 6 4.99817C6.00033 4.85094 5.94246 4.71305 5.83709 4.6098Z" fill="#CDCEDE"/>
                            </svg>
                    a.mobile-block__item(href="#")
                        .mobile-block__item-text Отчет
                        span 
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.83709 4.6098L1.29221 0.159755C1.1871 0.0567475 1.04677 0 0.897152 0C0.74753 0 0.607207 0.0567475 0.50209 0.159755L0.167391 0.487394C-0.0503999 0.700889 -0.0503999 1.04788 0.167391 1.26105L3.98384 4.99793L0.163156 8.73895C0.0580388 8.84196 0 8.97928 0 9.1257C0 9.27228 0.0580388 9.4096 0.163156 9.51269L0.497855 9.84025C0.603055 9.94325 0.743295 10 0.892917 10C1.04254 10 1.18286 9.94325 1.28798 9.84025L5.83709 5.38614C5.94246 5.2828 6.00033 5.14484 6 4.99817C6.00033 4.85094 5.94246 4.71305 5.83709 4.6098Z" fill="#CDCEDE"/>
                            </svg>

            .mobile-footer

                a.mobile-footer__item.mail(href="mailto:info@mebot24.ru") 
                    span
                        img(src="image/mail-footer.svg" alt="#")
                    | info@mebot24.ru
                a.mobile-footer__item.tel(href="tel:+84951183619") 
                    span
                        img(src="image/tel-footer.svg" alt="#")
                    | 8 (495)-118-36-19
