section.pain
    .container
        .row
            .col-lg-6
                .pain-block 
                    .pain-block__title Боль, решение боли или как набирать персонал эффективно
                    .pain-block__text.pain-block__margin В каждой главе, мы рассказываем с чем регулярно сталкивается руководитель или специалист по найму персонала, как быстро и эффективно решить задачи.
                    .pain-block__text В конце каждой главы, вас ожидает бонус от нас, который сможет материально помочь вам при решении данных задач.
            .col-lg-6
                .pain-rate
                    .pain-rate__item.red
                        img(src="image/vector.svg" alt="#")
                        | Текущая оценка эффективности найма
                    .pain-rate__item.orange
                        img(src="image/vector.svg" alt="#")
                        | Качественное приглашение кандидатов
                    .pain-rate__btns
                        .pain-rate__item.blue
                            img(src="image/vector.svg" alt="#")
                            | Учет собеседований
                        .pain-rate__item.yellow
                            img(src="image/vector.svg" alt="#")
                            | Поиск эталона
                    .pain-rate__btns
                        .pain-rate__btns-big
                            .pain-rate__item.green
                                img(src="image/vector.svg" alt="#")
                                | Скорость работы HR и рекрутеров
                            .pain-rate__item.dark-green
                                img(src="image/vector.svg" alt="#")
                                | Презентация компании и вакансии

                        .pain-rate__btns-small
                            .pain-rate__item.pink
                                img(src="image/vector.svg" alt="#")
                                | Быстрая оцена кандидатов

                            .pain-rate__item.dark-blue
                                img(src="image/vector.svg" alt="#")
                                | Рост качества персонала
