section.work-proposition
    .container
        .row
            .col-lg-12
                .work-proposition__block
                    .work-proposition__block-text
                        .work-proposition__block-title Получи предложение работы за 24 часа
                        .work-proposition__block-desc Отправь самую интересную информацию о себе и своих навыках, чтобы наш специалист выделил тебя еще сильнее!
                        a.dflt-bttn(href="#" type="button" data-toggle="modal" data-target="#exampleModal-1") Откликнуться на вакансию
