section.recomended
    .container
        .row
            .col-lg-12
                .recomended-title Рекомендуемые продукты
        .row
            .col-lg-4.col-md-6
                .recomended-block
                    .recomended-block__part-top
                        img(src="image/icon-right.svg" alt="#")
                        span Бесплатно
                    .recomended-block__top.bonus
                        .recomended-block__top-icon
                            img(src="image/icon-1.svg" alt="#")
                    .recomended-block__bottom
                        .recomended-block__bottom-title Снижение расходов на найм
                        .recomended-block__bottom-text Весь учет найма персонала в online с полной оцифровкой и расчетом эффективности
                        .recomended-block__bottom-btn
                            a.dflt-bttn(href="#") Попробовать
            .col-lg-4.col-md-6
                .recomended-block

                    .recomended-block__top
                        .recomended-block__top-icon
                            img(src="image/icon-2.svg" alt="#")
                    .recomended-block__bottom
                        .recomended-block__bottom-title Выборка резюме
                        .recomended-block__bottom-text Доступ к интерес ующим вас резюме по различным специализациям
                        .recomended-block__bottom-btn
                            a.dflt-bttn(href="#") Получить пакет резюме
            .col-lg-4.col-md-6
                .recomended-block

                    .recomended-block__top
                        .recomended-block__top-icon
                            img(src="image/icon-3.svg" alt="#")
                    .recomended-block__bottom
                        .recomended-block__bottom-title Автоматический найм персонала
                        .recomended-block__bottom-text Система позволяет выполнить дневную работ у 5 человек за 2 часа
                        .recomended-block__bottom-btn
                            a.dflt-bttn(href="#") Попробовать
            .col-lg-4.col-md-6
                .recomended-block
                    .recomended-block__part-top
                        img(src="image/icon-right.svg" alt="#")
                        span 100 тестов бесплатно
                    .recomended-block__top.bonus
                        .recomended-block__top-icon
                            img(src="image/icon-4.svg" alt="#")
                    .recomended-block__bottom
                        .recomended-block__bottom-title Тестирование персонала
                        .recomended-block__bottom-text Оценка кандидатов перед собеседованием по различным критериям
                        .recomended-block__bottom-btn
                            a.dflt-bttn(href="#") Попробовать
            .col-lg-4.col-md-6
                .recomended-block

                    .recomended-block__top
                        .recomended-block__top-icon
                            img(src="image/icon-5.svg" alt="#")
                    .recomended-block__bottom
                        .recomended-block__bottom-title Видеоинтервью кандидатов
                        .recomended-block__bottom-text Получите первичное впечатление о кандидате, не тратя ни минуты на общение
                        .recomended-block__bottom-btn
                            a.dflt-bttn(href="#") Получить пакет резюме
            .col-lg-4.col-md-6
                .recomended-block

                    .recomended-block__top
                        .recomended-block__top-icon
                            img(src="image/icon-6.svg" alt="#")
                    .recomended-block__bottom
                        .recomended-block__bottom-title Автоматизация проведения собеседования
                        .recomended-block__bottom-text Переговоры и вероятный анализ возможности трудоустройста
                        .recomended-block__bottom-btn
                            a.dflt-bttn(href="#") Beta - тестирование