
#addResume.modal.fade.addResume(tabindex='-1' role='dialog' aria-labelledby='addResumeLabel' aria-hidden='true')
    .modal-dialog.big(role='document')
        .modal-content
            button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') 
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.03127 19.0943L19.094 7.03154M19.0939 19.0942L7.03111 7.03139" stroke="#4F4F4F" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

            .modal-body
                .addEvent-title Добавить резюме
                .row.addResume-btns
                    .col-lg-6.col-md-6.col-6
                        a.btn.btn-primary.btn-primary__addResume.show(data-toggle="collapse" data-target="#multiCollapseExample4" role="button" data-addclass="small" aria-expanded="false" aria-controls="multiCollapseExample4") 
                            span.desktop Добавить одно
                            span.mobile Одно
                    .col-lg-6.col-md-6.col-6
                        a.btn.btn-primary.btn-primary__addResume(data-toggle="collapse" data-target="#multiCollapseExample3" role="button" data-addclass="big" aria-expanded="true" aria-controls="multiCollapseExample3") 
                            span.desktop Добавить несколько
                            span.mobile Несколько

                .collapse.collapse-item.addResume-first#multiCollapseExample4(data-parent="#addResume")
                    .row.addResume-newPerson
                        .col-lg-12
                            label(for="name").addResume-title ФИО
                            input.dflt-input#name(type="text" name="name" placeholder="Иванов Иван Иванович") 
                    .row.addResume-newPerson
                        .col-lg-4
                            label.addResume-title(for="mail") E-mail
                            input.dflt-input#mail(type="text" name="email" placeholder="info@mebot24-hr.ua")
                        .col-lg-4
                            label.addResume-title(for="tel") Телефон
                            input.dflt-input.dflt-input_phone#tel(type="text" name="phone" placeholder="+8 (___) ___-__-__")
                        .col-lg-4
                            label.addResume-title(for="eventDate") Дата рождения
                            .addEvent-block.addEvent-block__date
                                input#eventDate.addEvent-block__input(type="text" name="addEvent-date" placeholder="12.12.2020")

                    .row.addResume-newPerson
                        .col-lg-12
                            label.addResume-title(for="link") Ссылка на резюме
                            input.dflt-input#link(type="text" name="link" placeholder="https://rabota.ua")
                    .row
                        .col-lg-12
                            a.dflt-bttn(href="javascript:void(0);") Добавить резюме


                .collapse.collapse-item.show#multiCollapseExample3(data-parent="#addResume")
                    .row.addResume-newPerson__title 
                        .col-lg-12
                            .addResume-newPerson__name Резюме 1
                    .row.addResume-newPerson
                        .col-lg-2.col-xl-4.col-md-6
                            label(for="name").addResume-title ФИО
                            input.dflt-input#name(type="text" name="name" placeholder="Иванов Иван Иванович") 
                        .col-lg-2.col-xl-2.col-md-6
                            label.addResume-title(for="eventDate") Дата рождения
                            .addEvent-block.addEvent-block__date
                                input#eventDate.addEvent-block__input(type="text" name="addEvent-date" placeholder="12.12.2020")
                        .col-lg-3.col-xl-2.col-md-6
                            label.addResume-title(for="tel") Телефон
                            input.dflt-input.dflt-input_phone#tel(type="text" name="phone" placeholder="+8 (___) ___-__-__")
                        .col-lg-2.col-md-6
                            label.addResume-title(for="mail") E-mail
                            input.dflt-input#mail(type="text" name="email" placeholder="info@mebot24-hr.ua")
                        .col-lg-3.col-xl-2.col-md-12
                            label.addResume-title(for="link") Ссылка на резюме
                            input.dflt-input#link(type="text" name="link" placeholder="https://rabota.ua")

                    .row.addResume-newPerson__title 
                        .col-lg-12
                            .addResume-newPerson__name Резюме 2
                    .row.addResume-newPerson
                        .col-lg-2.col-xl-4.col-md-6
                            label(for="name").addResume-title ФИО
                            input.dflt-input#name(type="text" name="name" placeholder="Иванов Иван Иванович") 
                        .col-lg-2.col-xl-2.col-md-6
                            label.addResume-title(for="eventDate") Дата рождения
                            .addEvent-block.addEvent-block__date
                                input#eventDate.addEvent-block__input(type="text" name="addEvent-date" placeholder="12.12.2020")
                        .col-lg-3.col-xl-2.col-md-6
                            label.addResume-title(for="tel") Телефон
                            input.dflt-input.dflt-input_phone#tel(type="text" name="phone" placeholder="+8 (___) ___-__-__")
                        .col-lg-2.col-md-6
                            label.addResume-title(for="mail") E-mail
                            input.dflt-input#mail(type="text" name="email" placeholder="info@mebot24-hr.ua")
                        .col-lg-3.col-xl-2.col-md-12
                            label.addResume-title(for="link") Ссылка на резюме
                            input.dflt-input#link(type="text" name="link" placeholder="https://rabota.ua")
                    .row
                        .col-lg-12
                            a.addResume-newRow(href="javascript:void(0);")
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <ellipse cx="6.95674" cy="7" rx="6.95674" ry="7" fill="#CDCEDE"/>
                                    <path d="M6.95639 5V9M8.94403 7L4.96875 7" stroke="#F3F3F7" stroke-width="1.5" stroke-linecap="round"/>
                                </svg>
                                | Добавить еще одно
                    .row
                        .col-lg-12
                            a.dflt-bttn(href="javascript:void(0);") Добавить все резюме

