.mobile-menu__block

    include ../mobile-nemu-items/mobile-nemu-items.pug

    .collapse-overlay

    .header-top__block-right
        .header-top__block-languages
            a.header-languages__item.active(href="#") RU
            a.header-languages__item(href="#") EN
        a.header-top__block-btn(href="#") Войти
