// active-archive.scss

button.btn.btn-primary.archive-bttn(type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2") 
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="13" cy="13" r="12.48" transform="rotate(-90 13 13)" stroke="#BDBDBD" stroke-width="1.04"/>
    <path d="M9 14C9.32 13.68 11.8 11.2 13 10L17 14" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    | Архивные вакансии

.collapse.multi-collapse#multiCollapseExample2
    .card.card-body.archive-body

        .card-block 
            .row.first-row
                .col-lg-9.col-md-9.col-9
                    .card-block__name Менеджер по продажам
                .col-lg-3.col-md-3.col-3
                    .custom-check
                        .custom-check__title 
                        .custom-control.custom-switch

                            input.custom-control-input#archiveVacancies1(type="checkbox")
                            label.custom-control-label(for="archiveVacancies1")
            .row
                .col-lg-9.col-md-9.col-9
                    .archive-body__text Перенесена в архив
                        span 12.12.2019
        .card-block 
            .row.first-row
                .col-lg-9.col-md-9.col-9
                    .card-block__name Менеджер по продажам
                .col-lg-3.col-md-3.col-3
                    .custom-check
                        .custom-check__title 
                        .custom-control.custom-switch

                            input.custom-control-input#archiveVacancies2(type="checkbox")
                            label.custom-control-label(for="archiveVacancies2")
            .row
                .col-lg-9.col-md-9.col-9
                    .archive-body__text Перенесена в архив
                        span 12.12.2019
        .card-block 
            .row.first-row
                .col-lg-9.col-md-9.col-9
                    .card-block__name Менеджер по продажам
                .col-lg-3.col-md-3.col-3
                    .custom-check
                        .custom-check__title 
                        .custom-control.custom-switch

                            input.custom-control-input#archiveVacancies3(type="checkbox")
                            label.custom-control-label(for="archiveVacancies3")
            .row
                .col-lg-9.col-md-9.col-9
                    .archive-body__text Перенесена в архив
                        span 12.12.2019
        .card-block 
            .row.first-row
                .col-lg-9.col-md-9.col-9
                    .card-block__name Менеджер по продажам
                .col-lg-3.col-md-3.col-3
                    .custom-check
                        .custom-check__title 
                        .custom-control.custom-switch

                            input.custom-control-input#archiveVacancies4(type="checkbox")
                            label.custom-control-label(for="archiveVacancies4")
            .row
                .col-lg-9.col-md-9.col-9
                    .archive-body__text Перенесена в архив
                        span 12.12.2019
        .card-block 
            .row.first-row
                .col-lg-9.col-md-9.col-9
                    .card-block__name Менеджер по продажам
                .col-lg-3.col-md-3.col-3
                    .custom-check
                        .custom-check__title 
                        .custom-control.custom-switch

                            input.custom-control-input#archiveVacancies5(type="checkbox")
                            label.custom-control-label(for="archiveVacancies5")
            .row
                .col-lg-9.col-md-9.col-9
                    .archive-body__text Перенесена в архив
                        span 12.12.2019
        .card-block 
            .row.first-row
                .col-lg-9.col-md-9.col-9
                    .card-block__name Менеджер по продажам
                .col-lg-3.col-md-3.col-3
                    .custom-check
                        .custom-check__title 
                        .custom-control.custom-switch

                            input.custom-control-input#archiveVacancies6(type="checkbox")
                            label.custom-control-label(for="archiveVacancies6")
            .row
                .col-lg-9.col-md-9.col-9
                    .archive-body__text Перенесена в архив
                        span 12.12.2019

        include ../pagination/pagination.pug



