section.marks
    .container
        .row
            .col-lg-12
                .all-functions__title Предварительная оценка и тестирование кадров
        .row
            .col-lg-3.col-md-6
                .marks-block
                    .marks-block__img
                        img(src="image/mark-icon.svg" alt="#")
                    .marks-block__text Психологические тесты
            .col-lg-3.col-md-6
                .marks-block
                    .marks-block__img
                        img(src="image/mark-icon-2.svg" alt="#")
                    .marks-block__text Проверка профессионального навыка
            .col-lg-3.col-md-6
                .marks-block
                    .marks-block__img
                        img(src="image/mark-icon-3.svg" alt="#")
                    .marks-block__text Тестовые задания
            .col-lg-3.col-md-6
                .marks-block
                    .marks-block__img
                        img(src="image/mark-icon-4.svg" alt="#")
                    .marks-block__text Автоматизированное видео-интевью
        .row
            .col-lg-12
                .marks-btn
                    a.dflt-bttn(href="#") Создать бесплатно