.important
    h2.important__title
        | Важное
    .important-slider.owl-carousel.owl-theme
        a.important-slider-item.important-slider-item_1(href="javascript:void(0);" style="width: 260px; background-image: url('image/important-slider-item-bg-1-2.png'), url('image/important-slider-item-bg-1-1.jpg')")
            span.important-slider-item__info
                span.important-slider-item__count +14
                span.important-slider-item__title
                    | Приступили к тестовому заданию
        a.important-slider-item.important-slider-item_1(href="javascript:void(0);" style="width: 163px; background-image: url('image/important-slider-item-bg-2-2.png'), url('image/important-slider-item-bg-2-1.jpg')")
            span.important-slider-item__info
                span.important-slider-item__count +5
                span.important-slider-item__title
                    | Новые результаты тестирования
        a.important-slider-item.important-slider-item_1(href="javascript:void(0);" style="width: 163px; background-image: url('image/important-slider-item-bg-3-2.png'), url('image/important-slider-item-bg-3-1.jpg')")
            span.important-slider-item__info
                span.important-slider-item__count +6
                span.important-slider-item__title
                    | Назначено встреч с кандидатами
        a.important-slider-item.important-slider-item_1(href="javascript:void(0);" style="width: 163px; background-image: url('image/important-slider-item-bg-4-2.png'), url('image/important-slider-item-bg-4-1.jpg')")
            span.important-slider-item__info
                span.important-slider-item__count +7
                span.important-slider-item__title
                    | Новые результаты видео-тестов
        a.important-slider-item.important-slider-item_1(href="javascript:void(0);" style="width: 260px; background-image: url('image/important-slider-item-bg-1-2.png'), url('image/important-slider-item-bg-1-1.jpg')")
            span.important-slider-item__info
                span.important-slider-item__count +14
                span.important-slider-item__title
                    | Приступили к тестовому заданию
        a.important-slider-item.important-slider-item_1(href="javascript:void(0);" style="width: 163px; background-image: url('image/important-slider-item-bg-2-2.png'), url('image/important-slider-item-bg-2-1.jpg')")
            span.important-slider-item__info
                span.important-slider-item__count +5
                span.important-slider-item__title
                    | Новые результаты тестирования
        a.important-slider-item.important-slider-item_1(href="javascript:void(0);" style="width: 163px; background-image: url('image/important-slider-item-bg-3-2.png'), url('image/important-slider-item-bg-3-1.jpg')")
            span.important-slider-item__info
                span.important-slider-item__count +6
                span.important-slider-item__title
                    | Назначено встреч с кандидатами
        a.important-slider-item.important-slider-item_1(href="javascript:void(0);" style="width: 163px; background-image: url('image/important-slider-item-bg-4-2.png'), url('image/important-slider-item-bg-4-1.jpg')")
            span.important-slider-item__info
                span.important-slider-item__count +7
                span.important-slider-item__title
                    | Новые результаты видео-тестов
