doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        title Компании - Личный кабинет компании

        include layouts/seo.pug
    body

        include layouts/header/header.pug

        include layouts/mobile-menu/mobile-menu.pug

        include layouts/main-vacancy/main-vacancy.pug

        include layouts/vacancy-details/vacancy-details.pug

        include layouts/work-proposition/work-proposition.pug

        include layouts/vacancies/vacancies.pug

        include layouts/modal/modal.pug

    include layouts/scripts.pug