section.promo-main.main-automat
    .promo-main__img 
        img(src="image/automat-main.png" alt="#")
    .container
        .row    
            .col-lg-5
                .promo-main__title Автоматическое привлечение кандидатов
                .promo-main__desc Системная обработка базы резюме, для вывода кандидатов на собеседование
                a.dflt-bttn(href="javascript:void(0);") Оставить заявку