header.header
    .container
        .row
            .col-lg-2
                .header-name Тинькофф
            .col-lg-4
                .header-question У вас есть вопросы?
                    img(src="image/header-line.svg" alt="#")
                    a(href="mailto:hr4@mebot24.ua") hr4@mebot24.ua
            .col-lg-3.col-xl-4
                .header-list
                    a.header-list__item.active(href="#") Главная
                    a.header-list__item(href="#") Вакансии
            .col-lg-3.col-xl-2
                a.header-phone(href="tel:88451183619") 8 (845) 118-36-19
