
.schedule-time-wrapper
    .schedule-time-wrapper__info
        .schedule-time-wrapper__info-top
            span.schedule-time-wrapper__time 15:00
            span.schedule-time-wrapper__status Ожидается
        .schedule-time-wrapper__info-bottom
            .interview-list__title Собеседует:
            .interview-list__name Кожевников И.И.
    .schedule-time-wrapper__list
        .schedule-list-item
            .schedule-list-item__number №1
            .schedule-list-item__info
                span
                    | Иванов Василий Петрович, 25 лет
                span
                    a.schedule-list-item__link(href="javascript:void(0);") Резюме
                span
                    a.schedule-list-item__status-1(href="javascript:void(0);") Неявка
                span
                    a.schedule-list-item__status-2(href="javascript:void(0);") Явка
        .schedule-list-item
            .schedule-list-item__number №2
            .schedule-list-item__info
                span
                    | Иванов Василий Петрович, 25 лет
                span
                    a.schedule-list-item__link(href="javascript:void(0);") Резюме
                span
                    a.schedule-list-item__status-1(href="javascript:void(0);") Неявка
                span
                    a.schedule-list-item__status-2(href="javascript:void(0);") Явка
        .schedule-list-item.schedule-list-item_empty
            .schedule-list-item__number №3
            .schedule-list-item__info
                span
                    | Место доступно для записи
                span
                    a.schedule-list-item__bttn(href="javascript:void(0);")
                        | Удалить свободное место
        .schedule-time-wrapper__list-add
            a.dflt-bttn(href="javascript:void(0);")
                <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="7.60469" cy="7" rx="6.95674" ry="7" fill="black"/>
                    <path d="M7.60428 5V9M9.59192 7L5.61664 7" stroke="#FEDC2D" stroke-width="2" stroke-linecap="round"/>
                </svg>
                | Добавить место
.schedule-time-wrapper
    .schedule-time-wrapper__info
        .schedule-time-wrapper__info-top
            span.schedule-time-wrapper__time 17:00
            span.schedule-time-wrapper__status Ожидается
        .schedule-time-wrapper__info-bottom
            .interview-list__title Собеседует:
            .interview-list__name Кожевников И.И.    
    .schedule-time-wrapper__list
        .schedule-list-item
            .schedule-list-item__number №1
            .schedule-list-item__info
                span
                    | Иванов Василий Петрович, 25 лет
                span
                    a.schedule-list-item__link(href="javascript:void(0);") Резюме
                span
                    a.schedule-list-item__status-1(href="javascript:void(0);") Неявка
                span
                    a.schedule-list-item__status-2(href="javascript:void(0);") Явка
        .schedule-list-item
            .schedule-list-item__number №2
            .schedule-list-item__info
                span
                    | Иванов Василий Петрович, 25 лет
                span
                    a.schedule-list-item__link(href="javascript:void(0);") Резюме
                span
                    a.schedule-list-item__status-1(href="javascript:void(0);") Неявка
                span
                    a.schedule-list-item__status-2(href="javascript:void(0);") Явка
        .schedule-list-item
            .schedule-list-item__number №3
            .schedule-list-item__info
                span
                    | Иванов Василий Петрович, 25 лет
                span
                    a.schedule-list-item__link(href="javascript:void(0);") Резюме
                span
                    a.schedule-list-item__status-1(href="javascript:void(0);") Неявка
                span
                    a.schedule-list-item__status-2(href="javascript:void(0);") Явка
        .schedule-list-item
            .schedule-list-item__number №4
            .schedule-list-item__info
                span
                    | Иванов Василий Петрович, 25 лет
                span
                    a.schedule-list-item__link(href="javascript:void(0);") Резюме
                span
                    a.schedule-list-item__status-1(href="javascript:void(0);") Неявка
                span
                    a.schedule-list-item__status-2(href="javascript:void(0);") Явка
        .schedule-list-item
            .schedule-list-item__number №5
            .schedule-list-item__info
                span
                    | Иванов Василий Петрович, 25 лет
                span
                    a.schedule-list-item__link(href="javascript:void(0);") Резюме
                span
                    a.schedule-list-item__status-1(href="javascript:void(0);") Неявка
                span
                    a.schedule-list-item__status-2(href="javascript:void(0);") Явка
        .schedule-list-item
            .schedule-list-item__number №6
            .schedule-list-item__info
                span
                    | Иванов Василий Петрович, 25 лет
                span
                    a.schedule-list-item__link(href="javascript:void(0);") Резюме
                span
                    a.schedule-list-item__status-1(href="javascript:void(0);") Неявка
                span
                    a.schedule-list-item__status-2(href="javascript:void(0);") Явка
        .schedule-time-wrapper__list-add
            a.dflt-bttn(href="javascript:void(0);")
                <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="7.60469" cy="7" rx="6.95674" ry="7" fill="black"/>
                    <path d="M7.60428 5V9M9.59192 7L5.61664 7" stroke="#FEDC2D" stroke-width="2" stroke-linecap="round"/>
                </svg>
                | Добавить место
.schedule-date-wrapper__list
    .schedule-time-wrapper
        .schedule-time-wrapper__info
            .schedule-time-wrapper__info-top
                span.schedule-time-wrapper__time 10:00
                span.schedule-time-wrapper__status Ожидается
            .schedule-time-wrapper__info-bottom
                a.schedule-time-wrapper__remove(href="javascript:void(0);")
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.97939 10.062L10.0207 6.02072M10.0207 10.062L5.97934 6.02066" stroke="#828282" stroke-linecap="round" stroke-linejoin="round"/>
                        <circle cx="8" cy="8" r="7.5" stroke="#828282"/>
                    </svg>
                    br
                    span
                        | Удалить данное время из графика

        .schedule-time-wrapper__list
            .schedule-list-item.schedule-list-item_empty
                .schedule-list-item__number №1
                .schedule-list-item__info
                    span
                        | Место доступно для записи
                    span
                        a.schedule-list-item__bttn(href="javascript:void(0);")
                            | Удалить свободное место
            .schedule-list-item.schedule-list-item_empty
                .schedule-list-item__number №2
                .schedule-list-item__info
                    span
                        | Место доступно для записи
                    span
                        a.schedule-list-item__bttn(href="javascript:void(0);")
                            | Удалить свободное место
            .schedule-list-item.schedule-list-item_empty
                .schedule-list-item__number №3
                .schedule-list-item__info
                    span
                        | Место доступно для записи
                    span
                        a.schedule-list-item__bttn(href="javascript:void(0);")
                            | Удалить свободное место
            .schedule-time-wrapper__list-add
                a.dflt-bttn(href="javascript:void(0);")
                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <ellipse cx="7.60469" cy="7" rx="6.95674" ry="7" fill="black"/>
                        <path d="M7.60428 5V9M9.59192 7L5.61664 7" stroke="#FEDC2D" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                    | Добавить место
    .schedule-time-wrapper
        .schedule-time-wrapper__info
            .schedule-time-wrapper__info-top
                span.schedule-time-wrapper__time 17:00
                span.schedule-time-wrapper__status.schedule-time-wrapper__status_done Завершено    
            .schedule-time-wrapper__info-bottom
                .interview-list__title.interview-list__title-finish Собеседовал:
                .interview-list__name Кожевников И.И.    
        .schedule-time-wrapper__list.schedule-report
            .schedule-list-item
                .schedule-list-item__number №1
                .schedule-list-item__info
                    span
                        | Иванов Василий Петрович, 25 лет
                    span
                        a.schedule-list-item__link(href="javascript:void(0);") Резюме
                    span
                        span.schedule-list-item__status-1.schedule-list-item__status-1_done(href="javascript:void(0);") Неявка
            .schedule-list-item
                .schedule-list-item__number №2
                .schedule-list-item__info
                    span
                        | Иванов Василий Петрович, 25 лет
                    span
                        a.schedule-list-item__link(href="javascript:void(0);") Резюме
                    span
                        span.schedule-list-item__status-1.schedule-list-item__status-1_done(href="javascript:void(0);") Неявка
            .schedule-list-item
                .schedule-list-item__number №3
                .schedule-list-item__info
                    span
                        | Иванов Василий Петрович, 25 лет
                    span
                        a.dflt-bttn(data-toggle="modal" data-target="#addReport" type="button") Добавить отчет
                    span
                        span.schedule-list-item__status-2.schedule-list-item__status-2_done(href="javascript:void(0);") Явка
            .schedule-list-item
                .schedule-list-item__number №4
                .schedule-list-item__info
                    span
                        | Иванов Василий Петрович, 25 лет
                    span
                        a.schedule-list-item__bttn(data-toggle="modal" data-target="#correctReport" type="button") Отчет
                    span
                        span.schedule-list-item__status-2.schedule-list-item__status-2_done(href="javascript:void(0);") Явка
