.all-companies
    .all-companies__list
        .container
            .row
                .col-lg-8
                    h2.important__title Мои компании
                .col-lg-4
                    .all-companies__list-btn
                        a.dflt-bttn(href="add-company.html") Добавить компанию
            .row
                .col-lg-6.col-md-12
                    .all-companies-list-item
                        .row
                            .col-lg-3.col-md-3.col-sm-3.col-xs-3.col-2
                                .all-companies-list-item__letter(data-count="12") ИН
                            .col-lg-9.col-md-9.col-sm-9.col-xs-9.col-10
                                h3.all-companies-list-item__title
                                    | Рога и копыта №1

                                .all-companies-list-item__info
                                    .all-companies-list-item__count-1
                                        | Активные вакансии: 
                                        span 12
                                    .all-companies-list-item__count-2
                                        | Архивные вакансии: 
                                        span 2
                                    .all-companies__btns
                                        a.btn-white.btn-company(href="company-item.html") Войти
                                        a.btn-yellow.btn-company(href="fix-company.html") Редактировать
                        .all-companies-list-item__bg
                            img(src="image/build.png" alt="#")
                .col-lg-6.col-md-12
                    .all-companies-list-item(style="background: #41BF75;")
                        .row
                            .col-lg-3.col-md-3.col-sm-3.col-xs-3.col-2
                                .all-companies-list-item__letter(data-count="12" style="background: #6FCF97;") ИН
                            .col-lg-9.col-md-9.col-sm-9.col-xs-9.col-10
                                h3.all-companies-list-item__title
                                    | Рога и копыта №2

                                .all-companies-list-item__info
                                    .all-companies-list-item__count-1
                                        | Активные вакансии: 
                                        span 12
                                    .all-companies-list-item__count-2
                                        | Архивные вакансии: 
                                        span 2
                                    .all-companies__btns
                                        a.btn-white.btn-company(href="company-item.html") Войти
                                        a.btn-yellow.btn-company(href="fix-company.html") Редактировать
                        .all-companies-list-item__bg
                            img(src="image/build-2.png" alt="#")
                .col-lg-6.col-md-12
                    .all-companies-list-item(style="background: #41BF75;")
                        .row
                            .col-lg-3.col-md-3.col-sm-3.col-xs-3.col-2
                                .all-companies-list-item__letter(data-count="12" style="background: #6FCF97;") ИН
                            .col-lg-9.col-md-9.col-sm-9.col-xs-9.col-10
                                h3.all-companies-list-item__title
                                    | Рога и копыта №2

                                .all-companies-list-item__info
                                    .all-companies-list-item__count-1
                                        | Активные вакансии: 
                                        span 12
                                    .all-companies-list-item__count-2
                                        | Архивные вакансии: 
                                        span 2
                                    .all-companies__btns
                                        a.btn-white.btn-company(href="company-item.html") Войти
                                        a.btn-yellow.btn-company(href="fix-company.html") Редактировать
                        .all-companies-list-item__bg
                            img(src="image/build-2.png" alt="#")
                .col-lg-6.col-md-12
                    .all-companies-list-item(style="background: #41BF75;")
                        .row
                            .col-lg-3.col-md-3.col-sm-3.col-xs-3.col-2
                                .all-companies-list-item__letter(data-count="12" style="background: #6FCF97;") ИН
                            .col-lg-9.col-md-9.col-sm-9.col-xs-9.col-10
                                h3.all-companies-list-item__title
                                    | Рога и копыта №2

                                .all-companies-list-item__info
                                    .all-companies-list-item__count-1
                                        | Активные вакансии: 
                                        span 12
                                    .all-companies-list-item__count-2
                                        | Архивные вакансии: 
                                        span 2
                                    .all-companies__btns
                                        a.btn-white.btn-company(href="company-item.html") Войти
                                        a.btn-yellow.btn-company(href="fix-company.html") Редактировать
                        .all-companies-list-item__bg
                            img(src="image/build-2.png" alt="#")
