section.novacancy
    .container
        .row
            .col-lg-12.col-md-12.col-xs-12
                .novacancy-block
                    .novacancy-title Информации по вакансии нет
                    .novacancy-desc Информация по статистике набора будет доступна только после создания вакансии
                    a.dflt-bttn.scrolling__link(href="#create-vacancy")
                        | Создать вакансию
                        <svg width="7" height="9" viewBox="0 0 7 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M-3.11727e-07 1.86852L-7.84686e-08 7.20485C-4.42203e-08 7.98836 0.860163 8.46752 1.52635 8.05511L5.67684 5.48577C6.29591 5.10253 6.31099 4.20733 5.70518 3.80345L1.5547 1.03647C0.890145 0.59343 -3.46639e-07 1.06982 -3.11727e-07 1.86852Z" fill="black"/>
                        </svg>