section.promo-benefits
    .container
        .row
            .col-lg-12
                .promo-benefits__title Преимущества покупки резюме у нас
        .row
            .col-lg-6
                .promo-benefits__block
                    .promo-benefits__block-img
                        img(src="image/benefits-icon.svg" alt="#")
                    .promo-benefits__block-desc 
                        .promo-benefits__block-desc-name Снижение расходов на найм
                        .promo-benefits__block-desc-text Абонентская плата за базу резюме стоит не дешево, мы предлагаем покупку поштучно
            .col-lg-6
                .promo-benefits__block
                    .promo-benefits__block-img
                        img(src="image/benefits-icon2.svg" alt="#")
                    .promo-benefits__block-desc 
                        .promo-benefits__block-desc-name Актуальные данные
                        .promo-benefits__block-desc-text Выбираем самые новые резюме, которые опубликовали кандидаты
            .col-lg-6
                .promo-benefits__block
                    .promo-benefits__block-img
                        img(src="image/benefits-icon3.svg" alt="#")
                    .promo-benefits__block-desc 
                        .promo-benefits__block-desc-name Экономия вашего времени
                        .promo-benefits__block-desc-text Вы не теряете время на изучение кандидатов, к вам приходят люди, отобранные системой 
            .col-lg-6
                .promo-benefits__block
                    .promo-benefits__block-img
                        img(src="image/benefits-icon4.svg" alt="#")
                    .promo-benefits__block-desc 
                        .promo-benefits__block-desc-name Сбор резюме без ручного труда
                        .promo-benefits__block-desc-text Робот сам подберет резюме по вашим критериям и выдаст сводную таблицу со всем списком кандидатов