section.vacancy-details
    .container
        .row
            .col-lg-6
                .vacancy-details__block
                    .vacancy-details__block-grafik График: 
                        span Половина рабочего дня
                    .vacancy-details__block-type Тип вакансии: 
                        span Удаленная
                    .vacancy-details__cost
                        .vacancy-details__cost-item Заработная плата:
                        .vacancy-details__cost-price от 
                            span 70 
                            | до 
                            span 120 
                            | тыс.
                .vacancy-map
                    .contacts-block__col
                        .contacts-block__map#map
                    .contacts-block__col
                        .contacts-block__info
                            .contacts-block__info-title Тинькофф Банк
                            a.contacts-block__row(href="#")
                                img(src="image/icon-1.svg" alt="#")
                                | р-т Мира, 211, киев, 129128
                            a.contacts-block__row(href="tel:88451183619")
                                img(src="image/icon-1.svg" alt="#")
                                | 8 (845) 118-36-19
                            a.contacts-block__row.contacts-block__link(href="mailto:hr4@mebot24.ua")
                                img(src="image/icon-3.svg" alt="#")
                                | hr4@mebot24.ua 
                .share 
                    .share-title Поделиться вакансией
                    .share-block
                        a.share-block__item.vk(href="#")
                            img(src="image/vk.svg" alt="#")
                        a.share-block__item.twitter(href="#")
                            img(src="image/twitter.svg" alt="#")
                        a.share-block__item.fb(href="#")
                            img(src="image/fb.svg" alt="#")
                        a.share-block__item.ok(href="#")
                            img(src="image/ok.svg" alt="#")

            .col-lg-6
                .must-have__block
                    .must-have__block-title Обязанности
                    .must-have__block-desc
                        p Участие в подготовке бизнес-плана и аналитических отчетов;
                        p Развитие и сопровождение базы данных управленческого (финансового) учета (SQL);
                        p Финансовое моделирование;
                        p Проведение исследований рынка.
                .must-have__block
                    .must-have__block-title Требования
                    .must-have__block-desc
                        p - Ты опытный специалист, который думает и о пользователе и о бизнесе
                        p - Работаешь во всех дизайнерских тулзах
                        p - Знаешь где взять аналитику и что с ней делать
                        p - Понимаешь, зачем нужны прототипы
                        p - Умеешь проводить интервью и исследовать поведение пользователей
                        p - Практикуешь современные методологии дизайна
                        p - Умеешь общаться с разработчиками
                        p - Работал/ешь в продуктовой команде
                        p - Представляешь, как создаются и работают крупные веб-сервисы
                .must-have__block
                    .must-have__block-title Условия
                    .must-have__block-desc
                        p - Профессиональное развитие: проводим митапы, тренинги и мастер-классы; 
                        p - Огромная tech-библиотека в твоем распоряжении
                        p - Компенсируем обеды, чай, кофе и фрукты в кухнях на каждом этаже офиса
                        p - Заботу о здоровье: полис ДМС и страховку от несчастных случаев для тебя и льготные условия страхования для близких
                        p - Работу в комфортном офисе с в 7 минутах пешком от м.пл. Александра Невского. Для тех, кто за рулем, есть удобная парковка
                        p - Компенсацию затрат на спорт: возвращаем 50% от стоимости абонемента
                        p - Бесплатные курсы английского языка на территории офиса;Скидка 30% на КАСКО и специальные условия на продукты Тинькофф
