.sticky-block
    .sticky-list
        a.scrolling__link.sticky-link.active(href="#automatic") Автоматическое управление
        a.scrolling__link.sticky-link(href="#connection") Подключение модулей
        a.scrolling__link.sticky-link(href="#setting") Настройки процесса найма
        a.scrolling__link.sticky-link(href="#test-work") Тестовое задание
        a.scrolling__link.sticky-link(href="#testing") Тестирование навыков
    .sticky-bttn
        a.dflt-bttn(href="#") Сохранить изменения