section.vacancies
    .container
        .row
            .col-lg-12
                .vacancies-title Вакансии
            .col-lg-12
                a.vacancies-block(href="#")
                    .row
                        .col-lg-9
                            .vacancies-block__details
                                .vacancies-block__name Ведущий Java разработчик Монетизация / Senior Java Developer Monetization Service
                                .vacancies-block__type Тип вакансии:
                                    span Удаленная
                                .vacancies-block__place
                                    .vacancies-block__link
                                        img(src="image/geo.svg" alt="#")
                                        | г. киев
                        .col-lg-3
                            .vacancies-amount от 
                                span.number-bottom 70 
                                | до 
                                span.number-top 120 
                                | тыс.

                a.vacancies-block(href="#")
                    .row
                        .col-lg-9
                            .vacancies-block__details
                                .vacancies-block__name Ведущий Java разработчик Монетизация / Senior Java Developer Monetization Service
                                .vacancies-block__type Тип вакансии:
                                    span Удаленная
                                .vacancies-block__place
                                    .vacancies-block__link
                                        img(src="image/geo.svg" alt="#")
                                        | г. киев
                        .col-lg-3
                            .vacancies-amount от 
                                span.number-bottom 70 
                                | до 
                                span.number-top 120 
                                | тыс.
                a.vacancies-block(href="#")
                    .row
                        .col-lg-9
                            .vacancies-block__details
                                .vacancies-block__name Ведущий Java разработчик Монетизация / Senior Java Developer Monetization Service
                                .vacancies-block__type Тип вакансии:
                                    span Удаленная
                                .vacancies-block__place
                                    .vacancies-block__link
                                        img(src="image/geo.svg" alt="#")
                                        | г. киев
                        .col-lg-3
                            .vacancies-amount от 
                                span.number-bottom 70 
                                | до 
                                span.number-top 120 
                                | тыс.
                a.vacancies-block(href="#")
                    .row
                        .col-lg-9
                            .vacancies-block__details
                                .vacancies-block__name Ведущий Java разработчик Монетизация / Senior Java Developer Monetization Service
                                .vacancies-block__type Тип вакансии:
                                    span Удаленная
                                .vacancies-block__place
                                    .vacancies-block__link
                                        img(src="image/geo.svg" alt="#")
                                        | г. киев
                        .col-lg-3
                            .vacancies-amount от 
                                span.number-bottom 70 
                                | до 
                                span.number-top 120 
                                | тыс.
