section.book-form
    .container
        .row
            .col-lg-6
                .book-form__title Получи demo доступ к MeBot24 HR
                .book-form__desc Автоматическая система по найму персонала, которая сделает:
                .book-form__img-mobile
                    img(src="image/mobile-note.png" alt="#")
                .row.book-form__row
                    .col-lg-6
                        .book-form__right
                            img(src="image/circle-right.svg" alt="#")
                            | учет кандидатов
                    .col-lg-6
                        .book-form__right
                            img(src="image/circle-right.svg" alt="#")
                            | проведение собеседований
                    .col-lg-6
                        .book-form__right
                            img(src="image/circle-right.svg" alt="#")
                            | статистика набора
                    .col-lg-6
                        .book-form__right
                            img(src="image/circle-right.svg" alt="#")
                            | оценка кандидатов
                form.book-form__bottom(action="#")
                    .row
                        .col-lg-6
                            input.book-form__input.dflt-input_phone#phone(type="text" placeholder="+8 (___) ___-__-__" name="phone")

                        .col-lg-6
                            input.book-form__input#email(name="email" type="email" placeholder="E-mail")
                    .row
                        .col-lg-12
                            a.dflt-bttn(href="#" type="submit") Получить доступ
