doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		title Восстановление пароля / Код - Личный кабинет HR

		include layouts/seo.pug
	body

		.intro
			.intro__navline
				.container
					.row
						.col-lg-12
							a.main-logo(href="javascript:void(0);")
								img(src="image/main-logo-black.svg" alt="#")
			.intro__content
				form.intro-form.intro-form_2.intro-form__narrow.intro-form__special(action="#")
					button(type='button').intro-form__close 
						<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.03127 19.0943L19.094 7.03154M19.0939 19.0942L7.03111 7.03139" stroke="#4F4F4F" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					.row
						.col-lg-12
							.intro-form__heading.sms
								h1.intro-form__title
									| Введите код из SMS
								p.intro-form__text
									| Мы отправили код на ваш номер телефона +7(988)237-45-12
					.row
						.col-lg-12
							.intro-form__row
								input.dflt-input.dflt-input_code(type="text" name="pwcode")
					.row
						.col-lg-12
							button.dflt-bttn.top-bttn(type="submit") Восстановить пароль


		include layouts/scripts.pug
