doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		title Восстановление пароля - Личный кабинет HR

		link(rel="icon" type="image/png" href="image/favicon-48x48.png" sizes="48x48")
		link(rel="icon" type="image/png" href="image/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="image/favicon-16x16.png" sizes="16x16")
		link(rel="shortcut icon" href="image/favicon.ico" type="image/x-icon")

		include layouts/styles.pug
	body

		include layouts/password-reset/password-reset.pug

		include layouts/scripts.pug
