doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        title Вакансии / График собеседований - Личный кабинет HR

        include layouts/seo.pug
    body

        include layouts/header/header.pug

        main.main.no-main
            .info-system-bar#sticky
                include layouts/info-system-bar/info-system-bar.pug

            .content-system-section
                .content-system-section__navline
                    .container
                        .row
                            .col-lg-12
                                include layouts/content-system-switch/content-system-switch.pug

                        include layouts/sticky-actions/sticky-actions.pug

        include layouts/fixed-nav/fixed-nav.pug

        include layouts/calendar/calendar.pug

        include layouts/scripts.pug