doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		title Вакансии / График собеседований - Личный кабинет HR

		include layouts/seo.pug
	body

		include layouts/header/header.pug

		main.main
			include layouts/vacancy-schedule-structure/vacancy-schedule-structure.pug

		include layouts/fixed-nav/fixed-nav.pug

		include layouts/calendar/calendar.pug

		include layouts/schedule-pop/schedule-pop.pug

		include layouts/report/report.pug

		include layouts/addEvent/addEvent.pug

		include layouts/scripts.pug
