html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        title Главная - Личный кабинет HR

        include layouts/seo.pug
    body
        include layouts/header/header.pug

        main.main

            include layouts/top-worksheet/top-worksheet.pug

            include layouts/accordion/accordion.pug    

            include layouts/nextpage/nextpage.pug


        include layouts/fixed-nav/fixed-nav.pug

        include layouts/calendar/calendar.pug

        include layouts/report/report.pug

        include layouts/scripts.pug