section.add-company
    .container
        .row
            .col-xl-5.col-lg-4
                h2.company-header__name Редактировать компанию
            .col-xl-7.col-lg-8
                include ../company-btns/company-btns.pug