section.reports
    .container
        .row
            .col-lg-12
                .slider-title Отчеты
                .slider-desc Вся статистика и эффективность найма
                .slider-img
                    img(src="image/report-img.svg" alt="#")