section.contacts
    .container
        .row
            .col-lg-12
                .vacancies-title Контакты
            .col-lg-12
                .contacts-block
                    .contacts-block__col
                        .contacts-block__info
                            .contacts-block__info-title Тинькофф Банк
                            a.contacts-block__row(href="#")
                                img(src="image/icon-1.svg" alt="#")
                                | р-т Мира, 211, киев, 129128
                            a.contacts-block__row(href="tel:88451183619")
                                img(src="image/icon-1.svg" alt="#")
                                | 8 (845) 118-36-19
                            a.contacts-block__row.contacts-block__link(href="mailto:hr4@mebot24.ua")
                                img(src="image/icon-3.svg" alt="#")
                                | hr4@mebot24.ua    
                    .contacts-block__col
                        .contacts-block__map#map
                            