.actions
    h3.actions__title
        | Действия
        span
            <svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.58706 4.12835L0.834483 0.751034C0.512722 0.461449 4.46685e-07 0.689795 4.27763e-07 1.12268L1.32509e-07 7.87732C1.13587e-07 8.3102 0.512722 8.53855 0.834483 8.24897L4.58706 4.87165C4.80775 4.67303 4.80775 4.32697 4.58706 4.12835Z" fill="white"/>
            </svg>
    .actions-slider
        .actions-slider-item
            .actions-slider-item__icon(data-count="1000")
                img(src="image/actions-slider-item-icon-1.svg" alt="#")
            .actions-slider-item__info
                span.actions-slider-item__title
                    | Резюме
                span.actions-slider-item__text
                    | Получить новый пакет резюме.
                    br
                    | Доступно 1000 шт.
                a.dflt-bttn(href="javascript:void(0);") Получить
        .actions-slider-item
            .actions-slider-item__icon(data-count="420")
                img(src="image/actions-slider-item-icon-2.svg" alt="#")
            .actions-slider-item__info
                span.actions-slider-item__title
                    | Кандидаты
                span.actions-slider-item__text
                    | Провести процесс привлечения кандидатов.
                    br
                    | Доступно 420 шт.
                a.dflt-bttn(href="javascript:void(0);") Получить
        .actions-slider-item
            .actions-slider-item__icon(data-count="2")
                img(src="image/actions-slider-item-icon-3.svg" alt="#")
            .actions-slider-item__info
                span.actions-slider-item__title
                    | Тестирование
                span.actions-slider-item__text
                    | Тестирование кандидата на псих. и проф. критерии.
                    br
                    | Доступно 2 шт.
                a.dflt-bttn(href="javascript:void(0);") Получить
        .actions-slider-item
            .actions-slider-item__icon(data-count="12")
                img(src="image/actions-slider-item-icon-4.svg" alt="#")
            .actions-slider-item__info
                span.actions-slider-item__title
                    | Видео-интервью
                span.actions-slider-item__text
                    | Автоматическое тестирование человека.
                    br
                    | Доступно 12 шт.
                a.dflt-bttn(href="javascript:void(0);") Получить
