section.vacancy-details
    .container
        .row
            .col-lg-6
                .vacancy-details__block
                    .vacancy-details__block-grafik График: 
                        span Половина рабочего дня
                    .vacancy-details__block-type Тип вакансии: 
                        span Удаленная
                    .vacancy-details__cost
                        .vacancy-details__cost-item Заработная плата:
                        .vacancy-details__cost-price от 
                            span 70 
                            | до 
                            span 120 
                            | тыс.
                .vacancy-map
                    

            .col-lg-6