section.slider
    .container    
        .single-item.slick-slider
            .row
                .col-lg-12
                    .slider-title Вакансия
                    .slider-desc Удобная панель переключения между резюме, анкетами и графиками
                    .slider-img
                        img(src="image/slide-1.svg" alt="#")
            .row
                .col-lg-12
                    .slider-title Анкеты кандидатов
                    .slider-desc Изучайте всю информацию о конкретном кандидате в одном месте
                    .slider-img
                        img(src="image/slide-2.svg" alt="#")
            .row
                .col-lg-12
                    .slider-title Анкеты кандидатов
                    .slider-desc Удобное ориентирование по статусу в списке
                    .slider-img
                        img(src="image/slide-3.svg" alt="#")