section.promo-benefits.automatic-benefits
    .container
        .row
            .col-lg-12
                .promo-benefits__title Преимущества покупки резюме у нас
        .row
            .col-lg-6.col-md-6
                .promo-benefits__block
                    .promo-benefits__block-img
                        img(src="image/auto-1.svg" alt="#")
                    .promo-benefits__block-desc 
                        .promo-benefits__block-desc-name Снижение расходов на персонал
                        .promo-benefits__block-desc-text Система выполнит функции вашего рекру терв, вскоре вы поймете, что он вам вообще не нужен.
            .col-lg-6.col-md-6
                .promo-benefits__block
                    .promo-benefits__block-img
                        img(src="image/auto-2.svg" alt="#")
                    .promo-benefits__block-desc 
                        .promo-benefits__block-desc-name Повышение эффективности обработки
                        .promo-benefits__block-desc-text Наши алгоритмы найма показывают конверсию найма выше среднестатистического рекрутера
            .col-lg-6.col-md-6
                .promo-benefits__block
                    .promo-benefits__block-img
                        img(src="image/auto-3.svg" alt="#")
                    .promo-benefits__block-desc 
                        .promo-benefits__block-desc-name Повышение кол-ва собеседований
                        .promo-benefits__block-desc-text Робот может обработать в разы больше кандидатов, в отличии от рекрутера
            .col-lg-6.col-md-6
                .promo-benefits__block
                    .promo-benefits__block-img
                        img(src="image/auto-4.svg" alt="#")
                    .promo-benefits__block-desc 
                        .promo-benefits__block-desc-name Оцифрованный результат
                        .promo-benefits__block-desc-text После проведения каждого найма вам доступна подробная статистика, на основании которой можно изменять условия