section.auto-actions
    .container
        .row
            .col-lg-12
                .registration-title Какие целевые действия можно ставить?

        .row
            .col-lg-4
                .auto-actions__block
                    .auto-actions__img
                        img(src="image/auto-1.png" alt="#")
                    .auto-actions__title Запись на собеседование
                    .auto-actions__desc Кандидат должен выбрать доступное время для прохождения собеседования
                    .auto-actions__btn
                        a.dflt-bttn(href="#") Подробнее
            .col-lg-4
                .auto-actions__block
                    .auto-actions__img
                        img(src="image/auto-2.png" alt="#")
                    .auto-actions__title Прохождение тестирования
                    .auto-actions__desc Кандидат должен пройти предварительный тест
                    .auto-actions__btn
                        a.dflt-bttn(href="#") Подробнее
            .col-lg-4
                .auto-actions__block
                    .auto-actions__img
                        img(src="image/auto-3.png" alt="#")
                    .auto-actions__title Выполнение тестового задания
                    .auto-actions__desc Кандидат должен выполнить тестовое задание и отправить результаты его работы
                    .auto-actions__btn
                        a.dflt-bttn(href="#") Подробнее
