section.main.main-vacancy
    .container
        .row
            .col-lg-8
                .main-block
                    .main-title Тинькофф
                    .main-vacancy__desc Ведущий Java разработчик Монетизация / Senior Java Developer Monetization Service, киев
                    a.dflt-bttn(href="javascript:void(0)" type="button" data-toggle="modal" data-target="#exampleModal") Откликнуться на вакансию
            .col-lg-4
                .main-pict
                    img(src="image/building.png" alt="#")
