section.main
    .container
        .row
            .col-lg-2
                .main-block
                    .main-title Тинькофф
                    .main-vacancies 
                        span.number 23
                        span.text Вакансии
            .col-lg-6
                .main-desc Мы — команда дизайнеров Tinkoff.ua, Работаем над сервисом, с помощью которого банк продает и обслуживает, зарабатывает и экономит. Ты ведь знаешь, что в нашем банке нет отделений? Зато у нас есть самый большой колл-центр в России, в нем более 10 тысяч операторов и всем им необходимы интуитивно-понятные
            .col-lg-4
                .main-pict
                    img(src="image/building.png" alt="#")
