section.registration-form
    .container
        .row
            .col-lg-12
                .registration-form__top Заполните общую информацию
                form.registration-form__bottom(action="#")
                    .row
                        .col-lg-12
                            .registration-form__bottom-block
                                label.registration-form__label(for="name") ФИО
                                input.registration-form__input#name(type="text" placeholder="Иванов Иван Иванович" name="name")
                    .row
                        .col-lg-6
                            .registration-form__bottom-block
                                label.registration-form__label(for="name") Кол-во резюме
                                input.registration-form__input#name(type="number" placeholder="45" name="name")
                        .col-lg-6
                            .registration-form__bottom-block
                                label.registration-form__label(for="name") Должность
                                input.registration-form__input#name(type="text" name="name" placeholder="Генеральный директор отдела")
                    .row
                        .col-lg-6
                            .registration-form__bottom-block
                                label.registration-form__label(for="mail") E-mail
                                input.registration-form__input#mail(type="text" placeholder="info@mebot24-hr.ru" name="email")
                        .col-lg-6
                            .registration-form__bottom-block
                                label.registration-form__label(for="tel") Телефон
                                input.registration-form__input#tel.dflt-input_phone(type="text" placeholder="+7 (___) ___-__-__" name="phone")
                    .row
                        .col-lg-6
                            .custom-control.custom-checkbox
                                input.custom-control-input#defaultUnchecked(type="checkbox")
                                label.custom-control-label(for="defaultUnchecked") Я принимаю условия передачи информации

                        .col-lg-6
                            a.dflt-bttn(href="javascript:void(0);") Получить пакет резюме