section.characteristics
    .container
        .row
            .col-lg-3.col-md-6
                .characteristics-block
                    .characteristics-block__img 
                        img(src="image/man-1.svg" alt="#")
                    .characteristics-block__text 5 лет на рынке IT индустрии
            .col-lg-3.col-md-6
                .characteristics-block
                    .characteristics-block__img 
                        img(src="image/man-2.svg" alt="#")
                    .characteristics-block__text 35 сотрудников в штате
            .col-lg-3.col-md-6
                .characteristics-block
                    .characteristics-block__img 
                        img(src="image/man-3.svg" alt="#")
                    .characteristics-block__text 350 реализованных проектов
            .col-lg-3.col-md-6
                .characteristics-block
                    .characteristics-block__img 
                        img(src="image/man-4.svg" alt="#")
                    .characteristics-block__text Работа с разными отраслями рынка