section.promo-main.management-system
    .promo-main__img 
        img(src="image/main-system.png" alt="#")
    .container
        .row    
            .col-lg-5
                .promo-main__title Система управления наймом
                .promo-main__desc берет под контроль все коммуникаций с соискателями, подсказывает, что делать
                form.promo-main__form(action="#")
                    input.dflt-input_phone(type="text" placeholder="+8 (___) ___-__-__" name="phone")
                    a.dflt-bttn(href="javascript:void(0);") Создать бесплатно
