section.book-main
    .container
        .book-main__img
            img(src="image/book-main.png" alt="#")
        .book-main__img-mobile
            img(src="image/book-mainMobile.png" alt="#")
        .row
            .col-lg-12
                .book-main__block
                    .book-main__title Получи книгу о найме персонала бесплатно
                    .book-main__desc Совершайте те же действия и получайте в 2 раза больше результата!
                    form.book-main__form(action="#")
                        input.book-main__input#email(type="email" placeholder="Email" name="email")
                        a.dflt-bttn(href="#") Получить книгу бесплатно