.intro
    .intro__navline
        .container
            .row
                .col-lg-12
                    a.main-logo(href="javascript:void(0);")
                        img(src="image/main-logo-black.svg" alt="#")
    .intro__content
        form.intro-form.intro-form_2.intro-form__narrow.intro-form__special(action="#")
            button(type='button').intro-form__close 
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.03127 19.0943L19.094 7.03154M19.0939 19.0942L7.03111 7.03139" stroke="#4F4F4F" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            .row
                .col-lg-12
                    .intro-form__heading
                        h1.intro-form__title
                            | Восстановление пароля
            .row
                .col-lg-12
                    .intro-form__row
                        .input-title.input-title_2
                            span Номер телефона
                        input.dflt-input.dflt-input_phone(type="text" name="phone" placeholder="+7 (___) ___-__-__")
            .row
                .col-lg-12
                    button.dflt-bttn.top-bttn(type="submit") Далее