section.schedule
    .container
        .row
            .col-lg-12
                .slider-title График собеседований
                .slider-desc Управляйте расписанием встреч с кандидатами и добавляйте новых
                .schedule-images
                    .schedule-image-1
                        img(src="image/schedule-1.svg" alt="#")
                        .schedule-image-2
                            img(src="image/schedule-2.svg" alt="#")