section.registration
    .container
        .row
            .col-lg-12
                .registration-title Оформите заказ и получите пакет резюме уже на второй день
        .row
            .col-lg-4.col-xl-3
                .registration-block
                    .registration-block__numb 1
                    .registration-block__title Оставьте заявку
                    .registration-block__desc Оставьте заявку ниже, наши сотрудники ответят вам в тот же день
            .col-lg-4.col-xl-6
                .registration-block
                    .registration-block__numb 2
                    .registration-block__title Уточните тербования
                    .registration-block__desc С вами свяжется персональный менеджер и у точнит требования к кандидатам
            .col-lg-4.col-xl-3
                .registration-block
                    .registration-block__numb 3
                    .registration-block__title Загрузите результаты
                    .registration-block__desc Данные через 48 часов будут загружены в кабинет и вы получите уведомление