ul.content-system-section__switch
	li
		a(href="/vacancy-resume.html")
			span Резюме
	li
		a(href="/worksheet.html")
			span Анкеты
	li
		a(href="/vacancy-schedule.html")
			span График собеседований
	li
		a(href="/vacancy-info.html")
			span О вакансии
	li
		a(href="javascript:void(0);")
			span Действия