doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        title Компании - Личный кабинет компании

        include layouts/seo.pug
    body

        include layouts/header/header.pug

        include layouts/mobile-menu/mobile-menu.pug

        include layouts/main-automat/main-automat.pug

        include layouts/automatic-benefits/automatic-benefits.pug

        include layouts/work-block/work-block.pug

        include layouts/auto-actions/auto-actions.pug

        include layouts/registration/registration.pug

        include layouts/registration-form/registration-form.pug

        include layouts/footer/footer.pug

    include layouts/scripts.pug