doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        title Компании - Личный кабинет компании

        include layouts/seo.pug
    body

        include layouts/header/header.pug

        include layouts/mobile-menu/mobile-menu.pug

        include layouts/book-main/book-main.pug

        include layouts/book-about/book-about.pug

        include layouts/pain/pain.pug

        include layouts/book-form/book-form.pug

        include layouts/footer/footer.pug

    include layouts/scripts.pug