html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        title Компании - Личный кабинет компании

        include layouts/seo.pug
    body

    section.list
        .container
            .row
                .col-lg-12
                    ul
                        li
                            a(href="/promo/promo-1.html") Получить пакет резюме
                        li
                            a(href="/promo/") Главная промо-ст-ца
                        li
                            a(href="/promo/system-managment.html") Система управления наймом
                        li
                            a(href="/promo/automatic-attraction.html") Автоматическое привлечение