doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        title Компании - Личный кабинет компании

        include layouts/seo.pug
    body

        include layouts/header/header.pug

        include layouts/mobile-menu/mobile-menu.pug

        include layouts/main-system/main-system.pug

        include layouts/video-block/video-block.pug

        include layouts/all-functions/all-functions.pug

        include layouts/slider/slider.pug

        include layouts/schedule/schedule.pug

        include layouts/reports/reports.pug

        include layouts/mark/mark.pug

        include layouts/question/question.pug

        include layouts/footer/footer.pug

    include layouts/scripts.pug