.fixed-nav
	.fixed-nav__bar
		a.fixed-nav__bar-bttn(href="javascript:void(0);")
			<svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M14.8145 0.240629C14.5148 -0.0802096 14.016 -0.0802096 13.7058 0.240629C13.4061 0.550628 13.4061 1.06657 13.7058 1.37585L19.3277 7.19068H0.776183C0.343728 7.1914 0 7.54693 0 7.99422C0 8.44151 0.343728 8.8086 0.776183 8.8086H19.3277L13.7058 14.6126C13.4061 14.9334 13.4061 15.4501 13.7058 15.7594C14.016 16.0802 14.5155 16.0802 14.8145 15.7594L21.7674 8.56797C22.0775 8.25797 22.0775 7.74203 21.7674 7.43275L14.8145 0.240629Z" fill="#828282"/>
			</svg>
		.fixed-nav__bar-element.fixed-nav__bar-element_1(data-count="5")
			span Вакансии
	.fixed-nav__content
		.vacancy-display.vacancy-display_2
			.vacancy-display__heading
				h3.vacancy-display__title
					span Вакансии
				.dflt-select
					a.dflt-select__bttn(href="javascript:void(0);") Все вакансии
					ul.dflt-select__dropdown
						li
							a(href="javascript:void(0);") Все вакансии
						li
							a(href="javascript:void(0);") Только активные
			ul.vacancy-display__list.scroll-wrapper#fixedNavVacancy
				li.vacancy-display-list-item.vacancy-display-list-item_2
					span.vacancy-display-list-item__letter Р
					span.vacancy-display-list-item__info
						span.vacancy-display-list-item__title
							| Руководитель отдела продаж 
						span.vacancy-display-list-item__links
							a(href="javascript:void(0);") 102 кандидата
							a(href="javascript:void(0);") 10 анкет
				li.vacancy-display-list-item.vacancy-display-list-item_2
					span.vacancy-display-list-item__letter М
					span.vacancy-display-list-item__info
						span.vacancy-display-list-item__title
							| Менеджер по продажам
						span.vacancy-display-list-item__links
							a(href="javascript:void(0);") 102 кандидата
							a(href="javascript:void(0);") 10 анкет
				li.vacancy-display-list-item.vacancy-display-list-item_2
					span.vacancy-display-list-item__letter М
					span.vacancy-display-list-item__info
						span.vacancy-display-list-item__title
							| Маркетолог
						span.vacancy-display-list-item__links
							a(href="javascript:void(0);") 102 кандидата
							a(href="javascript:void(0);") 10 анкет
				li.vacancy-display-list-item.vacancy-display-list-item_2
					span.vacancy-display-list-item__letter М
					span.vacancy-display-list-item__info
						span.vacancy-display-list-item__title
							| Менеджер по продажам
						span.vacancy-display-list-item__links
							a(href="javascript:void(0);") 102 кандидата
							a(href="javascript:void(0);") 10 анкет
				li.vacancy-display-list-item.vacancy-display-list-item_2
					span.vacancy-display-list-item__letter М
					span.vacancy-display-list-item__info
						span.vacancy-display-list-item__title
							| Маркетолог
						span.vacancy-display-list-item__links
							a(href="javascript:void(0);") 102 кандидата
							a(href="javascript:void(0);") 10 анкет
				li.vacancy-display-list-item.vacancy-display-list-item_2
					span.vacancy-display-list-item__letter М
					span.vacancy-display-list-item__info
						span.vacancy-display-list-item__title
							| Менеджер по продажам
						span.vacancy-display-list-item__links
							a(href="javascript:void(0);") 102 кандидата
							a(href="javascript:void(0);") 10 анкет
				li.vacancy-display-list-item.vacancy-display-list-item_2
					span.vacancy-display-list-item__letter М
					span.vacancy-display-list-item__info
						span.vacancy-display-list-item__title
							| Маркетолог
						span.vacancy-display-list-item__links
							a(href="javascript:void(0);") 102 кандидата
							a(href="javascript:void(0);") 10 анкет
			a.dflt-bttn(href="no-vacancy.html")
				<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<ellipse cx="7.60469" cy="7" rx="6.95674" ry="7" fill="black"/>
					<path d="M7.60428 5V9M9.59192 7L5.61664 7" stroke="#FEDC2D" stroke-width="2" stroke-linecap="round"/>
				</svg>
				| Создать вакансию

script.
	window.addEventListener('load', function() {
		const fixedNavVacancyWrapper = document.querySelector('#fixedNavVacancy');
		const fixedNavVacancyScroll = new PerfectScrollbar(fixedNavVacancyWrapper, {
			suppressScrollX: true
		});
	});
