section.promo-cost
    .container
        .row
            .col-lg-12
                .promo-statistics__top
                    .promo-statistics__top-left
                        .promo-statistics__top-left-numb 10
                            span грн.
                        .promo-statistics__top-left-text Стоит одно резюме нашей компании
                .promo-statistics__bottom
                    .promo-statistics__bottom-row
                        .promo-statistics__icon
                            img(src="image/person-4.png" alt="#")
                        .promo-row__mobile
                            .promo-statistics__time
                                .promo-statistics__time-numb 1
                                .promo-statistics__time-text рекрутер вручную может обработать
                            .promo-statistics__math
                                span = 
                                .promo-statistics__math-row
                                    p Столько резюме, сколько ему нужно
                    .promo-statistics__finish
                        .promo-statistics__finish-block
                            .promo-statistics__finish-item
                                .finish-arrow
                                    img(src="image/finish-arrow-green.svg" alt="#")
                                .finish-text Вы получаете резюме из 4 источников
                            .promo-statistics__finish-item
                                .finish-arrow
                                    img(src="image/finish-arrow-green.svg" alt="#")
                                .finish-text Не переплачиваете за доступ, а платите за количество
                            .promo-statistics__finish-item
                                .finish-arrow
                                    img(src="image/finish-arrow-green.svg" alt="#")
                                .finish-text Экономите время рекрутера
                            .promo-statistics__finish-item
                                .finish-arrow
                                    img(src="image/finish-arrow-green.svg" alt="#")
                                .finish-text Подходит для небольших компаний
