section.using
    .container
        .row
            .col-lg-8.col-xl-7
                .using-top
                    .using-top__title Начни пользоваться MeBot HR
                    .using-top__free 
                        img(src="image/right.svg" alt="#")
                        span Бесплатно
                form.using-registration(action="#")
                    .row
                        .col-lg-6.col-md-6.col-6
                            a.using-btn.active(href="#") Регистрация
                        .col-lg-6.col-md-6.col-6
                            a.using-btn(href="#") Консультация
                    .row
                        .col-lg-6
                            .registration-form__bottom-block
                                label.registration-form__label(for="surname") Фамилия
                                input.registration-form__input#surname(type="text" placeholder="Иванов" name="surname")
                        .col-lg-6
                            .registration-form__bottom-block
                                label.registration-form__label(for="name") Имя
                                input.registration-form__input#name(type="text" placeholder="Иван" name="name")

                        .col-lg-6
                            .registration-form__bottom-block
                                label.registration-form__label(for="tel") Телефон
                                input.registration-form__input#tel.dflt-input_phone(type="text" placeholder="+8 (___) ___-__-__" name="phone")
                                p.additional-text * будет отправлен код с подтверждением
                        .col-lg-6
                            .custom-control.custom-checkbox
                                input.custom-control-input#defaultUnchecked(type="checkbox")
                                label.custom-control-label(for="defaultUnchecked") Получить подарочную книгу "8 болей найма персонала"
                    .row
                        .col-lg-12
                            a.dflt-bttn(href="#") Получить пакет резюме
